Simple_Genomics/adni100k.hh
Simple_Genomics/adni100k.log
Simple_Genomics/adni100k.nof
Simple_Genomics/adni100kFiltered.bed
Simple_Genomics/adni100kFiltered.bim
Simple_Genomics/adni100kFiltered.fam
Simple_Genomics/adni100kFiltered.hh
Simple_Genomics/adni100kFiltered.irem
Simple_Genomics/adni100kFiltered.log
Simple_Genomics/out.assoc
Simple_Genomics/out.cluster0
Simple_Genomics/out.cluster1
Simple_Genomics/out.cluster2
Simple_Genomics/out.cluster3
Simple_Genomics/out.frq
Simple_Genomics/out.hh
Simple_Genomics/out.ld
Simple_Genomics/out.log
Simple_Genomics/out.mibs
Simple_Genomics/out.nof
