Simple_Genomics/adni100k.*
Simple_Genomics/adni100kFiltered.*
Simple_Genomics/out.*
Simple_Genomics/gcta.*
Simple_Genomics/gcta_1.04
Simple_Genomics/plink-1.07-mac-intel
*.nii.gz
*.mgh.gz
*.mgz
*.mgh

.ipynb_checkpoints
